{% extends 'admin.twig' %}

{% set title %}{{ 'Scenario_Scenario'|translate }}{% endset %}


{% block content %}
    {% import 'macros.twig' as piwik %}
    <h2 piwik-enriched-headline
        help-url="https://github.com/digitalist-se/Scenario/wiki"
        id="location-providers">{{ title }}</h2>
    </div>

    Placeholder, so just: {{ foo }}
{% endblock %}